body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 1931px; }

.wrapper {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("../images/bg.jpg");
  background-size: 100%;
  width: 100vw;
  height: 1931px; }

.left {
  float: left; }

.right {
  float: right;
  position: relative; }

.left, .right {
  margin: 0;
  padding: 0;
  height: 1931px;
  width: 50%; }

a {
  color: #00B7FF; }

.right div, .left div {
  opacity: 0;
  -webkit-animation-fill-mode: forwards; }

.left .one {
  background: url("../images/01_LEFTSIDE.png");
  background-repeat: no-repeat;
  background-size: 100%;
  animation: fadeIn 6s;
  animation-delay: 1s; }

.left .two {
  background: url("../images/02_LEFTSIDE.png");
  background-repeat: no-repeat;
  background-size: 100%;
  animation: fadeIn 11s;
  animation-delay: 4s; }

.left .three {
  background: url("../images/03_LEFTSIDE.png");
  background-repeat: no-repeat;
  background-size: 100%;
  animation: fadeIn 12s;
  animation-delay: 2s; }

.left .four {
  background: url("../images/04_LEFTSIDE.png");
  background-repeat: no-repeat;
  background-size: 100%;
  animation: fadeIn 5s;
  animation-delay: 2s; }

.left .five {
  background: url("../images/05_LEFTSIDE.png");
  background-repeat: no-repeat;
  background-size: 100%;
  animation: fadeIn 4s;
  animation-delay: 1s; }

.left .six {
  background: url("../images/06_LEFTSIDE.png");
  background-repeat: no-repeat;
  background-size: 100%;
  animation: fadeIn 7s;
  animation-delay: 3s; }

.left div {
  -webkit-animation-fill-mode: forwards !important; }

.left div, .right div {
  width: 50%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0; }

.right .one {
  background: url("../images/01_RIGHTSIDE.png");
  background-repeat: no-repeat;
  background-size: 100%;
  animation: fadeIn 6s;
  animation-delay: 2s; }

.right .two {
  background: url("../images/02_RIGHTSIDE.png");
  background-repeat: no-repeat;
  background-size: 100%;
  animation: fadeIn 4s;
  animation-delay: 3s; }

.right .three {
  background: url("../images/03_RIGHTSIDE.png");
  background-repeat: no-repeat;
  background-size: 100%;
  animation: fadeIn 7s;
  animation-delay: 4s; }

.right .four {
  background: url("../images/04_RIGHTSIDE.png");
  background-repeat: no-repeat;
  background-size: 100%;
  animation: fadeIn 4s;
  animation-delay: 5s; }

.right .five {
  background: url("../images/05_RIGHTSIDE.png");
  background-repeat: no-repeat;
  background-size: 100%;
  animation: fadeIn 7s;
  animation-delay: 3s; }

.right .six {
  background: url("../images/06_RIGHTSIDE.png");
  background-repeat: no-repeat;
  background-size: 100%;
  animation: fadeIn 9s;
  animation-delay: 3s; }

.right div {
  width: 100%;
  -webkit-animation-fill-mode: forwards !important; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.right div, .left div {
  -webkit-animation-fill-mode: forwards !important; }


